@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }
}

@layer components {
    .media {
        @apply grid sm:grid-cols-1 md:grid-cols-12;
    }

    .link {
        @apply text-gray-400 font-bold hover:text-amber-400;
    }

    .input {
        @apply indent-8 bg-gray-200 rounded-2xl h-8 text-gray-400 font-bold;
    }

}

@layer base {
    .comic {
        font-family: comic sans ms;
    }

    .fatasy {
        font-family: fantasy;
    }

    .roman {
        font-family: 'Times New Roman', Times, serif;
    }
}